:root {
    --primary-color: #1313B3;
    --secondary-color: rgba(30, 30, 30, 0.95);
    --accent1-color: #FFFF00;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
}

h1 {
    font-family: var(--heading-font);
    color: white;
    padding: 20px;
    background-color: #0b0b64d7;
    text-align: center;
     
}

h2 {
    margin-top: 5px;
    text-align: center;
    background-color: #0b0b64d7;
    color: white;
    padding: 10px;
}

/* Highlight color */
.yellow {
    color: var(--accent1-color);
}

/* Navigation */
nav {
    background-color: var(--secondary-color);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    border: 2px solid #fff;
    color: var(--accent1-color);
}


main {
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 2rem;
    border: 1px solid rgb(194, 182, 182);
}

.card img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    float: right;
    padding: 10px;
    margin-left: 50px;
}
.card ul{
    font-size: larger;
    padding: 50px;
    margin-top:150px;
    margin-left: 50px;
}

.card a{
    padding: 50px;
}

figure {
    float: left;
    margin: 20px;
}

p {
    font-size: larger;
    text-align: justify;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.underline-full {
    position: relative;
    margin-top: 70px;
    margin-bottom: 10px;
    font-family: var(--heading-font);
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid rgba(32, 27, 27, 0.781);
    padding-bottom: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

/* Footer */
footer {
    font-size: large;
    text-align: center;
    background-color: #0b0b64d7;
    color: white;
    padding: 10px;
}

#lastModified {
    color: var(--accent1-color);
    
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .card img {
        float: none;
        display: block;
        margin: 0 auto 1rem;
    }

    footer p {
        margin-left: 0;
    }
}