@media (min-width: 800px) {

    #pageTitle .weather-icon {
            display: none;
        }
    
    #pageTitle::after {
            content: " ❄️";
            font-size: 1.6rem;
            margin-left: .5rem;
            vertical-align: middle;
        }
    
    nav ul.navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .menu-button {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}