/* General Styling */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

header {
    background: #003366;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Hamburger button */
.menu-button {
    display: block;
    width: 35px;
    height: 35px;
    background: url('../images/menu.svg') no-repeat center;
    background-size: 30px;
    cursor: pointer;
    border-radius: 6px;
}

nav{
    position: relative;
}

/* Navigation */
.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin: 0;
    background: #003366;

}

.navigation.show {
    display: flex;
    
}

.navigation li {
    text-align: center;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 4px;
}

.navigation a:hover {
    background-color: #ddd;
    color: #000;
}
/*nav ul li a:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.weather-icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;*/


main {
    padding: 1rem 1.25rem;
}

h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 1.5rem;
}

/* Card Grid */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    
}

.card h3 {
    margin-top: 0;
    font-family: "Playfair Display", serif;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-top: .5rem;
    display: block;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #003366;
    color: white;
    margin-top: 2rem;
}