/* General Styling */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

header {
    background: #003366;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Hamburger button */
.menu-button {
    display: block;
    width: 35px;
    height: 35px;
    background: url('../images/menu.svg') no-repeat center;
}

/* Navigation */
.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.navigation.show {
    display: flex;
    flex-direction: column;
}

.navigation li {
    margin: 0.5rem 0;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
nav ul li a:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.weather-icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

main {
    padding: 1rem;
}

h1 {
    text-align: center;
}

/* Card Grid */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    grid-auto-rows: 1fr;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-top: .5rem;
    display: block;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #003366;
    color: white;
    margin-top: 2rem;
}