*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    overflow-x: hidden;
}

:root {
    --fjord-blue: #003f63;
    --sky-blue: #89cff0;
    --ice-white: #f7f9fb;
    --storm-gray: #d6d9dc;
    --sunset-gold: #f4b860;

    --text-dark: #1c1c1c;
    --radius: 10px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: var(--ice-white);
    color: var(--text-dark);
}

header {
    width: 100%;
    background: var(--fjord-blue);
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

h1 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 2.5rem;
    }


.hero {
    position: relative;
    padding-bottom: 2rem;
 }

.hero img {
    width: 100%;
    display: block;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.2rem;
    gap: 1rem;
}


.card {
    background: rgba(255, 255, 255, 0.86);
    padding: 1rem 1.4rem;
    border-radius: var(--radius);
    backdrop-filter: blur(6px);
    box-shadow: var(--shadow);
    width: 25%;
    height: auto;
    margin-top: 10rem;
}

.card h2 {
    font-family: "Playfair Display", serif;
    margin-top: 0;
}


.card ul {
    padding-left: 1rem;
}

.weather-card{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 25%;
    }



/* Footer */
footer {
    background: var(--fjord-blue);
    color: white;
    text-align: center;
    padding: 1rem;
}

