#menu::before {
    content: "≣";
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block;
}


@media (min-width: 769px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation li {
        display: inline-block;
    }
}


@media (max-width: 768px) {
    .navigation {
        display: none;
        flex-direction: column;
        background-color: darkslateblue;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        padding: 1rem;
        border-radius: 5px;
    }

    .navigation.show {
        display: flex;

    }

    .navigation a {
        padding: 0.75rem;
        width: 100%;
    }
}


@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}